<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" class="show feel-modern">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="all" href="./assets/all.css">
    <title>
      Nuno Job &amp; Paula Oliveira Wedding
    </title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" media="all" href="./assets/bebas.css" type="text/css">
    <link rel="stylesheet" media="all" href="./assets/feel.css" type="text/css">
  </head>
  <body class="background-fill logged_in fonts-bebas swatch-04-dark-green bg-autumn-leaves bgtype-image">
    <div class="clear"></div>
    <div class="container-1000 author-show show-page">
      <div class="post-area left" id="post-area" style="margin-left: 20px;">
        <div class="post-container top-z">
          <div class="display-page">
            <div class=" theme-bg-color3 page-top"></div>
            <div class="page-content-wrap">
              <div class="widget widget-header-text var-feel-modern-text-standard">
                <a href="/en" id="lang_a">
                  <img id="lang_img" style="position: absolute; top: 0; left: 0; border: 0;" src="./assets/pt.png" alt="En">
                </a>
                <div class="top-line"></div>
                <div class="content colored-background">
                  <h1 class="theme-title">
                    <span class="autofit" style="font-size: 130.76923076923077%">Paula &amp; Nuno</span>
                  </h1>
                  <h3 class="theme-subtitle"></h3>
                </div>
              </div>
              <div class="widget widget-text-paragraph var-paragraph-image">
                <div class="content">
                  <div class="side-img-container right side-img-floater no-mobile">
                    <div class="image-field">
                      <img class="side-img" src="./assets/thumb-3f837359c14b4c6808198740377eabda.png" alt="">
                    </div>
                  </div>
                  <h2 class="theme-p-title theme-color3" data-target="title" id="label_0">
                    Our special day is coming soon
                  </h2>
                  <div class="theme-p theme-color-4" data-target="content">
                    <p id="label_1">
                      We are excited to celebrate our special day with our family and friends
                    </p>
                    <br/>
                    <p id="label_2">
                    </p>
                  </div>
                  <div class="side-img-container only-mobile">
                    <img class="side-img" src="./assets/thumb-3f837359c14b4c6808198740377eabda.png">
                    <div class="pic-border">
                      <div class="magnify"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="widget widget-text-bio var-bio-standard">
                <div class="pagegrid">
                  <div class="row">
                    <div class="six columns alpha omega">
                      <div class="content">
                        <h2 class="theme-p-title theme-color3" data-target="title" id="label_3">
                          Agenda
                        </h2>
                        <div class="theme-p theme-color-4" data-target="content">
                          <br>
                          <ul>
                            <li id="label_4">Ceremony @ 1:00 pm
                            </li>
                            <li id="label_5">Cocktail Dinatoire and Live Music @ 1:30 pm
                            </li>
                            <li id="label_6">Honeymoon! @ 6:00 pm
                            </li>
                          </ul>
                          <br/>
                          <p id="label_ph"></p>
                        </div>
                      </div><!-- .content -->
                      <div class="clear"></div>
                    </div><!-- columns -->
                  </div><!-- rows -->
                  <div class="clear"></div>
                </div><!-- page grid -->
              </div>
              <div class="widget widget-text-small-title var-small-title-left">
                <div class="content align-left">
                  <h2 class="theme-small-title theme-color1 webfont" data-target="title" id="label_7">
                    Honey Moon Fund
                  </h2>
                </div>
              </div>
              <div class="widget widget-text-paragraph var-paragraph-standard">
                <div class="pagegrid">
                  <div class="row">
                    <div class="six columns alpha omega">
                      <div class="content">
                        <div class="theme-p theme-color-4" data-target="content">
                          <p id="label_8">
                            While we are grateful for the generosity of those who would like to give us gifts, we are moving to London soon and are not in need of any more items. Actually, we will probably end up giving much of our stuff away
                          </p>
                          <p>
                            <br>
                          </p>
                          <p id="label_9">
                            Having you at our wedding is the best present, however if you would like to contribute to our honeymoon fund in lieu of a physical gift, you can donate using the link below:
                          </p>
                          <p>
                            <br>
                          </p>
                          <p>
                            <br>
                          </p>
                          <p align="center">
                            <a href="http://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=KZ75MSYVAMNQJ&amp;lc=US&amp;item_name=Paula%20%26%20Nuno&amp;currency_code=EUR&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" id="label_10">Donations</a><br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="widget widget-text-small-title var-small-title-left">
                <div class="content align-left">
                  <h2 class="theme-small-title theme-color1 webfont" data-target="title" id="label_11">
                    Venue
                  </h2>
                </div>
              </div>
              <div class="widget widget-event var-event-standard">
                <div class="pagegrid">
                  <div class="row">
                    <div class="four columns alpha">
                      <div class="content content-left">
                        <h3 class="theme-p-title" data-target="name" id="label_12">
                          Fundação Serralves
                        </h3><label class="theme-p" data-empty-if-target="when" id="label_13">When</label>
                        <h3 class="theme-p-title where" data-target="when" id="label_14">
                          Saturday, Sep 22nd, 1pm
                        </h3><label class="theme-p" data-empty-if-target="where" id="label_15">Where</label>
                        <h3 class="theme-p-title where" data-target="where" id="label_16">
                          Rua de Serralves 977, 4150-417 Porto, Portugal
                        </h3>
                        <h4 class="theme-p-title city" data-target="where"></h4>
                        <div class="theme-p theme-color-4 details" data-target="details">
                          <p>
                            <br>
                          </p>
                          <p id="label_17">You need to get in by the entrance in Rua de Serralves, which is not the same door as the one used for visiting the museum</p>
                          <p>
                            <br>
                          </p>
                          <p id="label_18">
                            This should get you directly into the Pink House, where our wedding will be hosted
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="two columns omega">
                      <div class="content content-right">
                        <div class="side-img-container">
                          <a href="http://maps.google.com/maps?daddr=Rua%20de%20Serralves%20977%2C%204150-417%20Porto%2C%20Portugal&amp;hl=en" target="_blank"></a>
                          <div class="static-map-container side-img empty-map" style="background: url(./assets/serralvesmap.png) no-repeat center center"></div>
                        </div><a class="directions theme-p" href="http://maps.google.com/maps?daddr=Rua%20de%20Serralves%20977%2C%204150-417%20Porto%2C%20Portugal&amp;hl=en" target="_blank" id="label_19">Get Directions</a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="widget widget-gallery var-gallery-standard">
                <div class="content">
                  <div class="gallery-items">
                    <div class="gallery-item-container">
                      <div class="framed-image-container">
                        <div class="pic-wrapper">
                          <img class="framed-image lightboxed" src="./assets/thumb-aa70a5f3f3527f1d6e55129d567c22c8.jpg">
                          <div class="pic-border">
                            <div class="magnify"></div>
                          </div>
                        </div>
                      </div>
                      <h2 class="theme-p-title theme-color3" data-target="title1" data-empty-if-target="url1" id="label_20">
                        Prospecting
                      </h2>
                      <div class="clear"></div>
                    </div>
                    <div class="gallery-item-container">
                      <div class="framed-image-container">
                        <div class="pic-wrapper">
                          <img class="framed-image lightboxed" src="./assets/thumb-c1d8f35fd1830638919b6c3ec517b890.jpeg">
                          <div class="pic-border">
                            <div class="magnify"></div>
                          </div>
                        </div>
                      </div>
                      <h2 class="theme-p-title theme-color3" data-target="title2" data-empty-if-target="url2" id="label_21">
                        Pink House
                      </h2>
                      <div class="clear"></div>
                    </div>
                    <div class="gallery-item-container">
                      <div class="framed-image-container">
                        <div class="pic-wrapper">
                          <img class="framed-image lightboxed" src="./assets/thumb-2940f2704f1a244e0a372c89b157f895.jpeg">
                          <div class="pic-border">
                            <div class="magnify"></div>
                          </div>
                        </div>
                      </div>
                      <h2 class="theme-p-title theme-color3" data-target="title3" data-empty-if-target="url3" id="label_22">
                        Gardens
                      </h2>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="widget widget-text-small-title var-small-title-left">
                <div class="content align-left">
                  <h2 class="theme-small-title theme-color1 webfont" data-target="title" id="label_23">
                    Contact Information
                  </h2>
                </div>
              </div>
              <div class="widget widget-text-bio var-bio-standard">
                <div class="pagegrid">
                  <div class="row">
                    <div class="two columns alpha no-mobile">
                      <div class="content content-left">
                        <div class="side-img-container">
                          <div data-field="picture" class="image-field" data-thumb="172x120" data-mode="crop">
                            <img class="side-img" src="./assets/thumb-3b3878edebd2095503811ad28f3bbdea.jpg">
                            <div class="pic-border">
                              <div class="magnify"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="four columns omega">
                      <div class="content content-right">
                        <h2 class="theme-p-title theme-color3" data-target="title">
                          Nuno Job &amp; Paula Oliveira
                        </h2>
                        <div class="only-mobile">
                          <img class="side-img" src="./assets/thumb-3b3878edebd2095503811ad28f3bbdea.jpg">
                        </div>
                        <div class="theme-p theme-color-4" data-target="content"></div>
                        <div class="info-box fn-segoe">
                          <a class="info-email" href="mailto:nunojobpinto@gmail.com">nunojobpinto@gmail.com</a> <a class="info-phone" href="tel:+351911563332">+351 911-563-332</a>
                          <a class="info-email" href="mailto:paulasalgadooliveira@gmail.com">paulasalgadooliveira@gmail.com</a> <a class="info-phone" href="tel:+351929171934">+351 929-171-934</a>
                          <div class="clear"></div>
                        </div>
                      </div><!-- .content -->
                      <div class="clear"></div>
                    </div><!-- columns -->
                  </div><!-- rows -->
                  <div class="clear"></div>
                </div><!-- page grid -->
              </div>
              <div class="clear"></div>
            </div>
            <div class="page-bottom"></div>
          </div>
        </div>
        <div>
          &nbsp;
        </div>
      </div>
    </div>
    <div id="bs" class="bg-stretch">
      <img style="top: -84.69087275149906px" src="./assets/autumn-leaves.jpg" nopin="true" width="1480" height="984">
    </div>
    <div id="fancybox-tmp"></div>
    <div id="fancybox-loading"></div>
    <div id="fancybox-overlay"></div>
    <div id="fancybox-wrap"></div>
  </body>
</html>
